@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header_main {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.left-panel {
  display: inline-flex;
  align-items: center;
  gap: 11px;
}

.left-panel-svg {
  width: 50px;
  height: 55px;
}

.logo_img{
  height: 50px;
}

.interact-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interact{
    color: var(--black, #111);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.interactive-table{
    color: var(--text, #787D89);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.right-panel {
  display: inline-flex;
  align-items: center;
  gap: 26px;
}

.right-panel-setting {
  width: 26.125px;
  height: 26.125px;
  flex-shrink: 0;
  cursor: pointer;
}

.right-pannel-profil {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-panel-profile {
  width: 47px;
  height: 47px;
  border-radius: 23.5px;
  /* background: url("http://localhost:1234/image25.jpg") lightgray -11.75px 0px / 150% 100% no-repeat; */
}

